.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: var(--font-geist-sans);
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.header p {
  color: #666;
  font-size: 1.2rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.compareButtonContainer {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}

.compareButtonContainer button {
  margin-top: 2rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  padding: 12px 24px;
  align-items: center;
}

.compareButtonContainer button:hover {
  cursor: pointer;
}

.compareButtonContainer .compareButton {
  background-color: #2471a7;
  color: #fff;
}
.compareButtonContainer .compareButton:disabled {
  background-color: #3387c394;
  color: #ffffffb5;
}

.compareButtonContainer .compareButton:enabled .compareButton:hover {
  background-color: #328ed0;
}

.compareButtonContainer .clearButton {
  background-color: #f5f5f5;
}

.compareButtonContainer .clearButton:enabled .clearButton:hover {
  background-color: #dedede;
}

.visualizationArea h2 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  width: 100%;
}

.comparisonArea h2 {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.comparisonArea .playerCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.comparisonArea h3 {
  font-size: 1.25rem;
  white-space: nowrap;
}

.team {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}

.team img {
  max-height: 35px;
}

@media (prefers-color-scheme: dark) {
  .comparisonArea {
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .compareButtonContainer .clearButton {
    background-color: lightgray;
    color: black;
  }

  .header p {
    color: #aaa;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .comparisonArea .playerCards {
    overflow-x: scroll;
    gap: 2rem;
  }
}
